.container
    height: 100px
    background-color: #6f5499
    color: white
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
    display: flex
    text-align: center

.title
    position: relative
    font-size: 2.2rem
    margin-top: 30px
    margin-left: 20px
    white-space: nowrap


.navbar
    margin-top: 45px
    margin-left: 150px
    display: flex
    white-space: nowrap

.link 
    font-size: 14px
    margin-right: 70px
    text-decoration: none
    color: white
    transition: opacity .3s ease
    &:hover
        opacity: .5

.iconLink
    margin-right: 0px
    text-decoration: none
    position: absolute
    right: 10px

.githubIcon
    width: 60px
    height: 50px
    margin-top: 15px
    background-color: transparent


.checkRepoParagraph
    height: fit-content
    margin-top: 0 
    font-size: 13px
    color: white
    text-decoration: none
